In [1]:
import pandas as pd
import numpy as np
arr= np.array([1,2,3,4,5,8])
arr

array([1, 2, 3, 4, 5, 8])

In [ ]:
x=np.array(200)
print(type(x))
x.ndim

<class 'numpy.ndarray'>

0

In [ ]:
x.size

1

In [ ]:
oned=np.array(['abesit','abaesec','aktu'])
oned.size

3

In [ ]:
oned.shape

(3,)

In [ ]:
twod=np.array([[1,2,3,4],[5,6,7,8],[56,69,78,90]])
twod.size

12

In [ ]:
zero=np.zeros(10,dtype=np.int8)
zero

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int8)

zero=np.zeros((2,3),dtype=np.int16)
zero

one=np.ones((3,3,3),dtype=np.int16)
one

In [ ]:
arr=np.array([1,2,3,4,5,6],ndmin=2)
arr

array([[1, 2, 3, 4, 5, 6]])

In [ ]:
n=np.random.rand(3,2)
n

array([[0.75745465, 0.15970959],
       [0.05865944, 0.5371423 ],
       [0.47384986, 0.16902513]])

In [ ]:
type(x)

numpy.ndarray

In [ ]:
n=np.random.randint(5,11,size=(3,2))
n

array([[ 7, 10],
       [ 9,  5],
       [ 5, 10]])

In [ ]:
l=[1,2,3,4,5,6,7,8,9,0,44,56,69,96]
x=np.random.choice(l,size=(2,2))
x

array([[96,  4],
       [56,  8]])

In [ ]:
#write a program to take decision at which date we should mass bunk in class.
day=['Mon','Tue','Wed','Thu','Fri']
lec=[1,2,3,4,5,6,7,8]
d=np.random.choice(day)
l=np.random.choice(lec)
print(d,l)

Fri 5

In [ ]:
#write a program for 6 digit otp
otp=np.random.randint(1,10,size=6)
print(otp)

[9 5 5 2 1 5]

In [ ]:
#write a program for dice simulator

In [ ]:
 x=np.random.randint(10,21,12)
 print(x)
 print(x[x%5==0])

[16 20 16 14 17 18 12 18 15 13 17 14]
[20 15]

In [ ]:
x%5==0

array([False,  True, False, False, False, False, False, False,  True,
       False, False, False])

In [ ]:
x=np.random.randint(100,200,size=(5,10))
x

array([[118, 184, 192, 106, 112, 166, 118, 139, 191, 170],
       [122, 117, 192, 159, 144, 112, 157, 110, 124, 161],
       [192, 110, 101, 138, 181, 168, 154, 135, 121, 158],
       [142, 154, 184, 140, 189, 151, 185, 159, 151, 177],
       [156, 165, 110, 163, 123, 199, 131, 151, 151, 171]])

In [ ]:
x[1:4,2:6]

array([[192, 159, 144, 112],
       [101, 138, 181, 168],
       [184, 140, 189, 151]])

In [ ]:
#find all rows, and column from 4 to 6.
x[:,4:7]

array([[112, 166, 118],
       [144, 112, 157],
       [181, 168, 154],
       [189, 151, 185],
       [123, 199, 131]])

In [ ]:
x[:,[2,4,6]]

array([[192, 112, 118],
       [192, 144, 157],
       [101, 181, 154],
       [184, 189, 185],
       [110, 123, 131]])

In [ ]:
import pandas as pd
import numpy as np
arr=np.random.randint(1,100,size=(10,5))
df=pd.DataFrame(arr,columns=['a','si','c','d','e'])
df

    a  si   c   d   e
0  28  52   2  14  70
1  44  16   3  93  76
2  58   5  24  33  54
3  64  34  41  23  51
4  98  36  46  23  39
5  25  63  80  34  31
6  51  93  45  68  65
7  95  71  20  28   8
8  61  50  59  85  89
9  73  24  16   9  25

In [ ]:
df.d

0    14
1    93
2    33
3    23
4    23
5    34
6    68
7    28
8    85
9     9
Name: d, dtype: int64

In [ ]:
df['new']=df['si']*10
df

    a  si   c   d   e  new
0  28  52   2  14  70  520
1  44  16   3  93  76  160
2  58   5  24  33  54   50
3  64  34  41  23  51  340
4  98  36  46  23  39  360
5  25  63  80  34  31  630
6  51  93  45  68  65  930
7  95  71  20  28   8  710
8  61  50  59  85  89  500
9  73  24  16   9  25  240

In [ ]:
d=df.values
print(type(df),type(d))

<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>

In [ ]:
df.T #Transpose

       0    1   2    3    4    5    6    7    8    9
a     28   44  58   64   98   25   51   95   61   73
si    52   16   5   34   36   63   93   71   50   24
c      2    3  24   41   46   80   45   20   59   16
d     14   93  33   23   23   34   68   28   85    9
e     70   76  54   51   39   31   65    8   89   25
new  520  160  50  340  360  630  930  710  500  240

In [ ]:
df.iloc[2:8,:4]  #iLoc used for slicing in dataframe

    a  si   c   d
2  58   5  24  33
3  64  34  41  23
4  98  36  46  23
5  25  63  80  34
6  51  93  45  68
7  95  71  20  28

In [ ]:
df.iloc[3:8,[1,3,5]]

   si   d  new
3  34  23  340
4  36  23  360
5  63  34  630
6  93  68  930
7  71  28  710

In [ ]:
df.loc[:,'new']

0    520
1    160
2     50
3    340
4    360
5    630
6    930
7    710
8    500
9    240
Name: new, dtype: int64

In [ ]:
df.loc[:,['si','new']]

   si  new
0  52  520
1  16  160
2   5   50
3  34  340
4  36  360
5  63  630
6  93  930
7  71  710
8  50  500
9  24  240

In [ ]:
df[df.new>=500] #masking (conditions like SQL: Print all records where value of new >=500)

    a  si   c   d   e  new
0  28  52   2  14  70  520
5  25  63  80  34  31  630
6  51  93  45  68  65  930
7  95  71  20  28   8  710
8  61  50  59  85  89  500

In [ ]:
df.loc[df.new>500,['a','si','new']] #combining slicing and masking.

    a  si  new
0  28  52  520
5  25  63  630
6  51  93  930
7  95  71  710

In [ ]:
df

    a  si   c   d   e  new
0  28  52   2  14  70  520
1  44  16   3  93  76  160
2  58   5  24  33  54   50
3  64  34  41  23  51  340
4  98  36  46  23  39  360
5  25  63  80  34  31  630
6  51  93  45  68  65  930
7  95  71  20  28   8  710
8  61  50  59  85  89  500
9  73  24  16   9  25  240

In [ ]:
df.loc[df.a==98,'e']=0 #Updation in a DATAFRAME
df

    a  si   c   d   e  new
0  28  52   2  14  70  520
1  44  16   3  93  76  160
2  58   5  24  33  54   50
3  64  34  41  23  51  340
4  98  36  46  23   0  360
5  25  63  80  34  31  630
6  51  93  45  68  65  930
7  95  71  20  28   8  710
8  61  50  59  85  89  500
9  73  24  16   9  25  240

In [ ]:
df.isnull()

       a     si      c      d      e    new
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False
5  False  False  False  False  False  False
6  False  False  False  False  False  False
7  False  False  False  False  False  False
8  False  False  False  False  False  False
9  False  False  False  False  False  False

In [ ]:
df.isnull().sum()

a      0
si     0
c      0
d      0
e      0
new    0
dtype: int64

In [ ]:
df.notnull().sum()

a      10
si     10
c      10
d      10
e      10
new    10
dtype: int64

In [ ]:
df.dropna() #drop all rows where any one 1 NA value

    a  si   c   d   e  new
0  28  52   2  14  70  520
1  44  16   3  93  76  160
2  58   5  24  33  54   50
3  64  34  41  23  51  340
4  98  36  46  23   0  360
5  25  63  80  34  31  630
6  51  93  45  68  65  930
7  95  71  20  28   8  710
8  61  50  59  85  89  500
9  73  24  16   9  25  240

In [ ]:
df.fillna(0) #fill all na values with 0.

In [ ]:
df.drop(columns='c')

    a  si   d   e  new
0  28  52  14  70  520
1  44  16  93  76  160
2  58   5  33  54   50
3  64  34  23  51  340
4  98  36  23   0  360
5  25  63  34  31  630
6  51  93  68  65  930
7  95  71  28   8  710
8  61  50  85  89  500
9  73  24   9  25  240

In [ ]:
avg_new = df.new.mean()
avg_new

444.0

In [ ]:
df.new.fillna(0)

0    520
1    160
2     50
3    340
4    360
5    630
6    930
7    710
8    500
9    240
Name: new, dtype: int64